body{
  background: #FFF url(/images/bg.png) repeat-x;
  margin: 0px;
  padding: 0px;
}
/*

A page wouldn't be the same with a #page

*/
#page{
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}
/*

Hello Mr. Header, how are you doing today?

*/
#header{
  width: 780px;
  height: 160px;
  background: url(/images/header.png) no-repeat;
  margin-left: auto;
  margin-right: auto;
}
/*

PEANUT BUTTER MENU TIME, PEANUT BUTTER MENU TIME

*/
#menu, #menu ul{
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
#menu ul{
  list-style-type: none;
  display: inline;
}
#menu li{
  display: inline;
}
#menu a{
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 12px;
  padding: 10px;
}
#menu a:hover{
  border-bottom: solid 1px #FFF;
  border-top: solid 1px #FFF;
}
#menu .active{
  font-weight: bold;
}
/*

And now, the main attraction

*/
#content{
  width: 100%;
}
#content h1{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  padding: 5px;
}
#content p{
  font-family: sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 8px;
}
#content a{
  color: #0E5369;
}
#content a:hover{
  color: #0E5369;
}
#content a:hover, #content a:visited{
  color: #126885;
}
#content img{
  border: double 5px #DDDDDD;
}
/*

Content without a menu! *Gasp*

*/
#mininav{
  float: right;
  margin: 4px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #138717;
}
#mininav ul{
  padding: 0px;
  margin: 0px;
}
#mininav li{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
#mininav a{
  text-decoration: none;
  font-family: sans-serif;
  font-size: 12px;
  padding: 10px;
  color: #000;
}
#mininav a:hover{
  color: #4D4D4D;
}
#mininav .active{
  font-weight: bold;
}
/*

Everyone loves a good footer

*/
#footer{
  width: 100%;
  text-align: center;
  border-top: 1px solid #CFCFCF;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 10px;
  color: #CFCFCF;
}


.one-column-emphasis
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
.one-column-emphasis th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	color: #039;
}
.one-column-emphasis td
{
	padding: 10px 15px;
	color: #669;
	border-top: 1px solid #e8edff;
}
.oce-first
{
	background: #d0dafd;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
.one-column-emphasis tr:hover td
{
	color: #339;
	background: #eff2ff;
}

.table
{
background:#333;
width:950px !important;
margin-left:-50px !important;
}
.table ul
{
float:left;
margin:0;
padding:0;
border:1px solid #C9C9C9;
}
.table ul li
{
list-style:none;
padding:0px 10px;
}
.table ul li.title
{
font-weight:bold;
background:#333;
color:#fff;
}
.table ul li.even
{
background:#fff
}
.table ul li.odd
{
background:#FFFFE6
}


/* Estilos para aplicarles a todas las tablas*/

.simple_table td
{
    text-align: center;
}
.simple_table img
{
  border: 0px !important;
}
.simple_table_with_borders td
{
    border-right-style: dotted;
    border-right-width: 0.4px;
    border-right-color: #6666FF;
    border-bottom-style: dotted;
    border-bottom-width: 0.4px;
    border-bottom-color: #6666FF;
}

.preparacion_container{
    border: 1px solid green ;
    width: 270px;
    float:left;
    margin-left: 10px;
    height: 160px;
    margin-bottom: 10px;
    text-align: center;
}

.clear{
	clear:both;
}

.simple_rounded
{
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #FFEEDD;
  border: 1px solid #FF8855;  
  width: 270px;
  float:left;
  margin-left: 10px;
  height: 180px;
  margin-bottom: 10px;
  text-align: center;  
}

.new_simple_rounded
{
  background-color: #D6FFC2 !important;
}

.preparaciones_small_container .terminado
{
  background-color: #000052 !important;
  color: white !important;
  
}

.preparaciones_small_container .terminado a
{
  color: #4DDB4D !important;
  
}

.simple_rounded img
{
  border: 0px !important;
}

.div_hidden_payment
{
  width: 400px;
  height: 400px;
}

.no_bullets
{
  list-style-type:none;
}

.new_preparacion_container
{
  background-color : 	#FFFFD6;
}

.new_preparacion_container img
{
  border: 0px !important;
}

.controls
{
  text-align: center;
}

.controls img
{
  border: 0px !important;
}

#md_pager a
{
  padding: 10px;
}

#md_pager a.no_image
{
  vertical-align: top;
  font-weight: bolder;
}

#link_agregar_preparacion
{
  text-decoration:none;
  font-weight: bold;
}

.hidden_payment_fancy
{
  background-color : 	#FFFFD6;
}

.preparacion_basic_info_table_container
{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.preparacion_basic_info_table
{
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #FFFFE6;
}

.preparacion_basic_info_table img
{
  border: 0px !important;
  margin-left: 20px;
}

.show_preparacion_mostrar_title
{
  text-align: center;
}

.alumno_search_box
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#tabla_alumno_preparacion a
{
  text-decoration:none;
}

ul#alumnos_search_list li
{
  margin-bottom: 3px;
}

ul.preparacion_form_ul
{
  list-style-type: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background-color: #FFFFE6;
}

ul.preparacion_form_ul li
{
  background-color: #FFFFE6;
}

#form_alumno ul
{
  list-style-type: none;
}

#form_alumno ul li label
{
  font-size: 22px;
  font-weight: bold;
}
.periodos_container{
    padding-bottom: 12px;
    text-align: center;
}

